
body {
  background: var(--primary-color);
  margin: 0;
}

main {
  overflow: hidden;
}
main::after {
  content: '';
  background: #9A50C6;
  filter: blur(125px);
  width: 200px;
  height: 300px;
  position: absolute;
  opacity: .5;
  bottom: 200px;
  right: 0px;
  z-index: -2;

}

main::before {
  content: url('../img/global/spring.svg');
  opacity: .5;
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 150px;
  left: -150px;
  z-index: -3;

}


body::after {
  content: '';
  background: #9A50C6;
  filter: blur(125px);
  opacity: .5;

  width: 200px;
  height: 300px;
  position: absolute;
  top: 1500px;
  left: -10px;
  z-index: -2

}

body::before {
  content: '';
  background: #9A50C6;
  filter: blur(125px);
  opacity: .5;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 3600px;
  right: 0;
  z-index: -2
  

} 




header,
#start,
#about,
#tools,
#formation,
#contact {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
}
.section-header h2 {
  color: var(--detail-color);
}
.section-header h3 {
  color: var(--title-color);
  margin-top: 30px;
  margin-bottom: 60px;
}