:root {
  --font-1: 'Montserrat', sans-serif;
  --font-2: 'Jet Brains Mono', monospace;
  --font-3: 'Roboto', sans-serif;
}

.title-1 {
  font-family: var(--font-1);
  font-size: 5rem;
  font-weight: 500;
  line-height: 96px;

}

.title-2 {
  font-family: var(--font-2);
  font-size: 5rem;
  font-weight: 600;
  line-height: 72px;

} 

.subtitle-1 {
  font-family: var(--font-1);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 33.6px;


}


.subtitle-2 {
  font-family: var(--font-1);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;

}

.subtitle-3 {
  font-family: var(--font-3);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;

}
.subtitle-4 {
  font-family: var(--font-1);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;

}
.body-1 {
  font-family: var(--font-1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;

}

.body-2 {
  font-family: var(--font-1);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16.8px;

}

.body-3 {
  font-family: var(--font-3);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.8px;

}

.button {
  font-family: var(--font-3);
  font-size: 1.30rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 25.2px;

}

.tags {
  font-family: var(--font-3);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 0.05em;
}







@media (max-width: 1000px) {
  .title-1 {
  font-size: 4rem;
  line-height: 76px;

  }
}
@media (max-width: 800px) {
  .title-1 {
    font-size: 3rem;
    line-height: 57px;

  }
}

@media (max-width: 700px) {
  .title-1 {
    font-size: 4rem;
    line-height: 76px;
  
    }
}


@media (max-width: 550px) {
  .title-1 {
    font-size: 3rem;
    line-height: 57px;

  }
}
@media (max-width: 400px) {
  .title-1 {
    font-size: 2rem;
    line-height: 38px;

  }
  .title-2 {
    font-size: 3rem;
  }
  .button {
    font-size: 1rem;
  }
  .subtitle-4 {
    font-size: 1.2rem;
  }
}