
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu-item a {
    color: var(--title-color);
    text-decoration: none;
  }

.header-menu-list ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header-menu-list ul li a {
  transition: .3s;
}

.header-menu-list ul li a:hover {
  color: var(--detail-color);
}

@media (max-width: 1100px) {
  .header-menu-list, .button-menu {
    display: none;
  }

  .start-content {
    align-items: center;
  }
}