#inicio {
  height: 80vh;
  display: flex;
  position: relative;

}
.inicio-container {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}

.inicio-container::after {
  content: '';
  background: #9A50C6;
  filter: blur(125px);
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 200px;
  right: -90px;
  z-index: -2;
}

.inicio-container::before {
  content: '';
  background: url(/img/inicio/arrow-down.svg) no-repeat;
  width: 20px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
}
.inicio-container::before:hover {
  background: red;
}
.inicio-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.inicio-buttons {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
}


@media (max-width: 1500px) {

  .inicio-container::after {
    right: 0px;
  }
}

@media (max-width: 1200px) {



  .container-img {
    width: 800px;
    display: contents;
    
  }
  .container-img img {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .inicio-container  {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .inicio-buttons {
    justify-content: center;
  }

  .container-img {
    display: block;
    justify-self: center;
  }
  .container-img {
    margin-top: 40px;
    width: 400px;
  }

}

@media (max-width: 800px) {
  .inicio-container::after {
    display: none;
  }
}


@media (max-width: 500px) {

  .inicio-container {
    margin-top: 60px;
    place-self: start;
  }
  .container-img {
    display: none;
  }
}