#projects {
  margin-top: 160px;
}
.slide {
  display: flex;

}
.slide:hover {
  will-change: transform;
}

.slide-wrapper {
  overflow: hidden;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  max-height: 450px;
  margin: 0 20px;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
  border-radius: 4px;
  /* overflow: hidden; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  position: relative;
}





.slide {
  transform: translate3d(-500px, 0px , 0px);
  list-style: none;
}



.slide-description {
  border-radius: 4px;
  text-align: center;
  padding: 10px;
}


.button-slide-project {
  place-self: center;
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #542FA9 0%, #542FA9 0.01%, #7333B7 50.21%, #8D36C3 91.15%);
  border: none;
  color: var(--title-color);
  border-radius: 4px;
  cursor: pointer;
  
  background-size: 300% 100%;
 
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}
.activeHover {
  position: relative;
  
  

}
@keyframes slidein {
  from {
    margin-top: 100%;
    
  }

  to {
    margin-top: 0%;
    
  }
}
.activeHover::after {
  content: '';
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  
  animation: slidein .5s forwards;
  

}

.hover-black {
  display: none;
  
}
.img-slide-container.activeHover > .hover-black {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #FFF;
  padding: 40px;
  justify-content: center;
  z-index: 1;
  animation: slidein .7s forwards;
  
  
}

.img-slide-container {
  display: flex;
  align-items: center;

}



.img-slide-container img {
  width: 100%;
  display: block;
  position: relative;
}


.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 60px;
  padding: 0;
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: var(--primary-gradient);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}


[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background: #FFF;
  
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #FB5 url('../img/arrow.svg') center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}




@media (max-width: 1000px) {

  .slide li {
    box-shadow: none;
  }

  
}


@media (max-width: 450px) {
  .hover-black a {
    position: absolute;
    bottom: -15px;
  }
  [data-control="slide"] {
    margin-top: 80px;
  }

}

@media (max-width: 350px) {
  .img-slide-container.activeHover > .hover-black {
    background: #8D36C3;
    
    
  }
  .slide-description {
    margin-top: 120px;

  }
  [data-control="slide"] {
    margin-top: 180px;
  }

}