
 .button-menu,
 .button-form {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #542FA9 0%, #542FA9 0.01%, #7333B7 50.21%, #8D36C3 91.15%);
  border: none;
  color: var(--title-color);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background-size: 300% 100%;
 
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}
.button-menu:hover,
.button-form:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} 

